* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
}
:root {
  --background-color: #081b29;
  --color-aqua: #00eeff;
}
/* Header Style Start */
.header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  height: 80px;
  align-items: center;
}
.left {
  display: flex;
  cursor: pointer;
}
.left h1:nth-child(1) {
  color: aliceblue;
  border-bottom: 2px solid white;
}
.left h1:nth-child(2) {
  color: var(--color-aqua);
  border-bottom: 2px solid white;
}
.right {
  display: flex;
}
.right ul {
  display: flex;
  gap: 40px;
  list-style: none;
}
.right ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.right ul li a:hover {
  color: #1976d2;
  transition: 0.5s;
}
/* Header Style End */

/* Hero Section Style Start */
.hero-section {
  display: grid;
  grid-template-columns: 50% 50%;
  place-content: center;
  padding-block: 80px;
  color: white;
}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-inline: 30px;
}
.hero-content h3,
h4 {
  font-size: 19px;
  font-weight: 500;
}
.highlight {
  font-size: 25px;
  color: var(--color-aqua);
}
.hero-content h2 {
  font-size: 27px;
  font-weight: 700;
}
.hero-content h4 {
  line-height: 30px;
  text-align: justify;
}
.icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 35px;
}
.facebook {
  color: #1877f2;
  cursor: pointer;
}
.instagram {
  color: #c13584;
  cursor: pointer;
}
.linkedin {
  color: #0077b5;
  cursor: pointer;
}
.whatsapp {
  color: #25d366;
  cursor: pointer;
}
.icons > *:hover {
  filter: drop-shadow(5px 5px 10px solid rgb(0, 255, 221));
  background-color: var(--background-color);
}
.my-image {
  display: flex;
  justify-content: center;
}
.my-image img {
  height: 60vh;
  /* aspect-ratio: 3/3; */
  object-fit: cover;
  border-radius: 50%;
  filter: brightness(90%);
  border: 2px solid aqua;
}
.my-image img:hover {
  filter: brightness(100%);
  filter: drop-shadow(5px 5px 5px aqua);
  transition: 1s linear;
}
#download-cv {
  text-transform: capitalize;
  color: white;
  width: 120px;
  height: 35px;
  border: none;
  border-radius: 20px;
  background-color: #1565c0;
  cursor: pointer;
  margin-top: 10px;
  animation: color 2s ease-in 2s 10 normal;
}

#download-cv:hover {
  opacity: 1;
  padding-left: 5px;
  transition: 0.5s ease-in;
  background-color: white;
  color: #0077b5;
}

/* Hero Section Style End */

/* About Me Style Start */
.AboutMe {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  color: white;
  padding: 30px;
  padding-block: 60px;
}
.AboutMe img {
  height: 55vh;
  object-fit: cover;
  border-radius: 5%;
  filter: brightness(100%);
  border: 2px solid aqua;
  box-shadow: 3px 6px 15px rgba(11, 239, 255, 0.735),
    0 6px 20px rgba(46, 212, 212, 0.9);
}
img:hover {
  filter: brightness(100%);
  transition: 1s linear;
}
.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.experience h1 {
  font-size: 32px;
}
.experience p {
  font-size: 22px;
  width: 75%;
  text-align: justify;
}
/* About Me Style End */

/* My Services Style Start */
.MyServices {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: white;
  justify-content: center;
}
.MyServices h1 {
  color: white;
  text-align: center;
}
.service-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.cardOne {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 280px;
  border: 2px solid aqua;
  padding: 10px;
}
.cards-icon {
  color: var(--color-aqua);
  font-size: 24px;
}
.cardOne h1 {
  color: var(--color-aqua);
  font-size: 26px;
}
.cardOne p {
  line-height: 25px;
  font-size: 18px;
  text-align: justify;
}
.cardOne button,
#submit {
  width: 200px;
  height: 37px;
  border: none;
  background-color: #1565c0;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  opacity: 0.8;
  cursor: pointer;
}
.cardOne button:hover {
  border: 1px solid aqua;
  opacity: 1;
  transition: 0.3s ease-in;
}
/* My Services Style End */

/* Technical Skills Style Start */
.skills {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-inline: 30px;
  padding-top: 90px;
}
.technical h1 {
  text-align: center;
  color: var(--color-aqua);
  border-bottom: 2px solid #7cb9d2;
}
.technical {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}
.technical p {
  color: white;
  font-size: 18px;
}
/* Html Icon Style */
.html-per-full {
  position: relative;
  background-color: black;
  width: 250px;
  height: 5px;
}

.html-per-half {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00eeff;
  width: 80%;
  height: 5px;
}
.percentage {
  position: absolute;
  top: -20px;
  left: 80%;
  color: white;
  font-size: 14px;
}
/* CSS Icon Style */
.css-per-full {
  position: relative;
  background-color: black;
  width: 250px;
  height: 5px;
}

.css-per-half {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00eeff;
  width: 70%;
  height: 5px;
}
.seventy {
  position: absolute;
  top: -20px;
  left: 70%;
  color: white;
  font-size: 14px;
}
/* Responsive CSS Icon Style */
.responsive-per-full {
  position: relative;
  background-color: black;
  width: 250px;
  height: 5px;
}
.responsive-per-half {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00eeff;
  width: 65%;
  height: 5px;
}
.sixty-five {
  position: absolute;
  top: -20px;
  left: 65%;
  color: white;
  font-size: 14px;
}
/* javaScript and React Icon Style */
.java-per-full {
  position: relative;
  background-color: black;
  width: 250px;
  height: 5px;
}
.java-per-half {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00eeff;
  width: 60%;
  height: 5px;
}
.sixty {
  position: absolute;
  top: -20px;
  left: 60%;
  color: white;
  font-size: 14px;
}

#html {
  font-size: 32px;
  color: #e34f26;
}
#css {
  color: #1572b6;
  font-size: 32px;
}
#javascript {
  color: #f7df1e;
  font-size: 32px;
}
#react {
  color: #61dafb;
  font-size: 32px;
}
#git {
  color: #f05032;
  font-size: 32px;
}
/* Technical Skills Style End */
/* professional Skills Start */
.professional {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.professional h1 {
  border-bottom: 2px solid #7cb9d2;
  color: var(--color-aqua);
}
.professional p {
  color: white;
  font-size: 18px;
}
/* professional Skills End */

/* Contact me Style Start */
.contact-me {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block: 50px;
  height: 80vh;
}
.contact-me p {
  text-align: center;
  font-size: 16px;
  color: white;
  padding-bottom: 10px;
}
.contact h1 {
  text-align: center;
  color: white;
  font-size: 34px;
}
.main-section {
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
  padding-inline: 20px;
}
.work-togather {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}
.work-togather p {
  font-size: 18px;
  text-align: justify;

  line-height: 26px;
}
.call-box {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-aqua);
}
.call-box p {
  color: var(--color-aqua);
}
#box {
  color: var(--color-aqua);
  font-size: 26px;
}
.input-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
input {
  width: 300px;
  height: 40px;
  background-color: white;
  border: none;
  border-radius: 5px;
  outline: none;
}
input::placeholder {
  padding-left: 5px;
}

/* Contact me Style End */

.bar {
  display: none;
}
/* RESPONSIVE START */
@media (max-width: 760px) {
  .right {
    display: none;
  }
  .header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 30px;
  }
  .experience p {
    font-size: 20px;
    width: 90%;
    text-align: justify;
  }
  .AboutMe img {
    height: 50vh;
    object-fit: cover;
    border-radius: 5%;
    filter: brightness(100%);
    border: 2px solid aqua;
    box-shadow: 3px 6px 15px rgba(11, 239, 255, 0.735),
      0 6px 20px rgba(46, 212, 212, 0.9);
  }
  .work-togather p {
    font-size: 18px;
    line-height: 26px;
    text-align: justify;
  }
  .icons {
    display: flex;
  }
  .skills {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-inline: 30px;
    padding-top: 60px;
  }

  .bar {
    display: block;
    color: var(--color-aqua);
    font-size: 32px;
    cursor: pointer;
  }
  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
  .AboutMe {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .AboutMe img {
    height: 65vh;
    object-fit: cover;
    border-radius: 5%;
    filter: brightness(70%);
    border: 2px solid aqua;
  }
  .skills {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .main-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 400px) {
  /* Html Icon Style */
  .html-per-full {
    position: relative;
    background-color: black;
    width: 270px;
    height: 5px;
  }

  .html-per-half {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00eeff;
    width: 80%;
    height: 5px;
  }
  .percentage {
    position: absolute;
    top: -20px;
    left: 80%;
    color: white;
    font-size: 14px;
  }
  /* CSS Icon Style */
  .css-per-full {
    position: relative;
    background-color: black;
    width: 270px;
    height: 5px;
  }

  .css-per-half {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00eeff;
    width: 70%;
    height: 5px;
  }
  .seventy {
    position: absolute;
    top: -20px;
    left: 70%;
    color: white;
    font-size: 14px;
  }
  /* Responsive CSS Icon Style */
  .responsive-per-full {
    position: relative;
    background-color: black;
    width: 270px;
    height: 5px;
  }
  .responsive-per-half {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00eeff;
    width: 65%;
    height: 5px;
  }
  .sixty-five {
    position: absolute;
    top: -20px;
    left: 65%;
    color: white;
    font-size: 14px;
  }
  /* javaScript and React Icon Style */
  .java-per-full {
    position: relative;
    background-color: black;
    width: 270px;
    height: 5px;
  }
  .java-per-half {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00eeff;
    width: 60%;
    height: 5px;
  }
  .sixty {
    position: absolute;
    top: -20px;
    left: 60%;
    color: white;
    font-size: 14px;
  }
  .AboutMe img {
    height: 50vh;
    object-fit: cover;
    border-radius: 5%;
    filter: brightness(100%);
    border: 2px solid aqua;
    box-shadow: 3px 6px 15px rgba(11, 239, 255, 0.735),
      0 6px 20px rgba(46, 212, 212, 0.9);
  }
  .AboutMe {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    color: white;
    padding: 0px 30px;
    padding-bottom: 35px;
  }
}

/* RESPONSIVE END */
