* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
}
:root {
  --background-color: #081b29;
  --color-aqua: #00eeff;
}
/* Header Style Start */
.header {
  display: flex;
  justify-content: space-around;
  height: 80px;
  align-items: center;
}
.left {
  display: flex;
  cursor: pointer;
}
.left h1:nth-child(1) {
  color: aliceblue;
  border-bottom: 2px solid white;
}
.left h1:nth-child(2) {
  color: var(--color-aqua);
  border-bottom: 2px solid white;
}
.right {
  display: flex;
}
.right ul {
  display: flex;
  gap: 40px;
  list-style: none;
}
.right ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.right ul li a:hover {
  color: #1976d2;
  transition: 0.5s;
}
/* Header Style End */

/* Hero Section Style Start */
.hero-section {
  display: grid;
  grid-template-columns: 50% 50%;
  place-content: center;
  height: calc(100vh - 80px);
  color: white;
}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-inline: 30px;
}
.hero-content h3,
h4 {
  font-size: 19px;
  font-weight: 500;
}
.highlight {
  font-size: 25px;
  color: var(--color-aqua);
}
.hero-content h2 {
  font-size: 27px;
  font-weight: 700;
}
.hero-content h4 {
  line-height: 30px;
}
.icons {
  display: flex;
  gap: 20px;
  font-size: 35px;
}
.facebook {
  color: #1877f2;
  cursor: pointer;
}
.instagram {
  color: #c13584;

  cursor: pointer;
}
.linkedin {
  color: #0077b5;

  cursor: pointer;
}
.whatsapp {
  color: #25d366;
  cursor: pointer;
}
.my-image {
  display: flex;
  justify-content: center;
}
.my-image img {
  /* width: 240px; */
  height: 60vh;
  /* aspect-ratio: 3/2; */
  object-fit: cover;
  border-radius: 5%;
  filter: brightness(70%);
  border: 2px solid aqua;
}
.my-image img:hover {
  filter: brightness(100%);
  filter: drop-shadow(5px 5px 5px aqua);
  transition: 1s linear;
}
#download-cv {
  text-transform: capitalize;
  color: white;
  width: 120px;
  height: 35px;
  border: none;
  border-radius: 20px;
  background-color: #1565c0;
  cursor: pointer;
  opacity: 0.8;
  margin-top: 10px;
}
#download-cv:hover {
  opacity: 1;
  padding-left: 5px;
  transition: 0.3s;
}
/* Hero Section Style End */

/* About Me Style Start */
.AboutMe {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  color: white;
  padding-inline: 30px;
}
.AboutMe img {
  height: 60vh;
  object-fit: cover;
  border-radius: 5%;
  filter: brightness(70%);
  border: 2px solid aqua;
}
img:hover {
  filter: brightness(100%);
  filter: drop-shadow(5px 5px 5px aqua);
  transition: 1s linear;
}
.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.experience h1 {
  font-size: 32px;
}
.experience p {
  font-size: 22px;
  width: 75%;
  text-align: justify;
}
/* About Me Style End */

/* My Services Style Start */
.MyServices {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
  color: white;
  justify-content: center;
}
.MyServices h1 {
  color: white;
  text-align: center;
}
.service-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.cardOne {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 60vh;
  width: 280px;
  border: 2px solid aqua;
  padding: 10px;
}
.cards-icon {
  color: var(--color-aqua);
  font-size: 24px;
}
.cardOne h1 {
  color: var(--color-aqua);
  font-size: 26px;
}
.cardOne button {
  width: 200px;
  height: 35px;
  border: none;
  background-color: #1565c0;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
}
/* My Services Style End */
